.container {
  display: flex;
  justify-content: space-around;
}

mat-card {
  width: 100%;
  text-align: center;
  margin: 50px;
}

.file-input {
  display: none;
}

.column-flex {
  display: flex;
  flex-direction: column;
}

mat-table {
  width: 100%;
}

.action-column {
  flex: 0 0 100px;
}

.action-column-header {
  flex: 0 0 115px;
}
